---
title: Designer news community chatroom
body_class: index
---

.mod-welcome
  .inner
    %h1 Join the awesome designer news community chatroom
    %p Leave your email here and get invited to our slack chat. We've got channels for resources, feedback, books, design thinking and a healthy dose of non-sense.

    / Begin MailChimp Signup Form
    #mc_embed_signup.mailchimp-form
      %form#mc-embedded-subscribe-form.validate{action: "http://designerchat.us8.list-manage1.com/subscribe/post?u=3e2fb6609691b486eea3ab1f1&id=c01360baa7", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
        %input#mce-EMAIL.required.email{name: "EMAIL", placeholder: "your email here...", type: "email", value: ""}/
        %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "signup"}/
        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{style: "position: absolute; left: -5000px;"}
          %input{name: "b_3e2fb6609691b486eea3ab1f1_c01360baa7", type: "text", value: ""}/
  / End mc_embed_signup
